/**
 * 自定义滚动条样式
 */

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(69, 90, 100, .2);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: transparent;
}
